<div class="container">
  <footer class="footer" >
    <small>
      Copyright &copy; 2018 by <a href="https://github.com/sara3laa">Sara Alaa</a> </small>
      <nav>
        <ul>
          <li> <%= link_to "About", pages_about_path %></li>
        </ul>
      </nav>
    </footer>
  </div>
